---
import type { HeadingElement } from '../Heading/Heading.astro'
import Link from '../Link/Link.astro'

import classes from './TableOfContents.module.css'

export type HeadingShape = {
	id: string
	element: HeadingElement
	html: string
}

type Headings = {
	h1: HeadingShape
	h2_1: HeadingShape
	h2_2: HeadingShape
	h2_3: HeadingShape
	h3_1: HeadingShape
	h3_2: HeadingShape
	h3_3: HeadingShape
	h3_4: HeadingShape
	h3_5: HeadingShape
	h2_4: HeadingShape
	h2_5: HeadingShape
	h2_6: HeadingShape
	h2_7: HeadingShape
	h2_8: HeadingShape
	h2_9: HeadingShape
	h2_10: HeadingShape
}

export const headings: Headings = {
	h1: {
		id: 'top',
		element: 'h1',
		html: 'Smooth out layout jumps at breakpoints with responsify',
	},
	h2_1: {
		id: 'responsify',
		element: 'h2',
		html: 'What is responsify?',
	},
	h2_2: {
		id: 'contents',
		element: 'h2',
		html: 'Table of contents',
	},
	h2_3: {
		id: 'examples',
		element: 'h2',
		html: 'How to responsify',
	},
	h3_1: {
		id: 'example-1',
		element: 'h3',
		html: 'Example 1 featuring two media queries',
	},
	h3_2: {
		id: 'example-2',
		element: 'h3',
		// TODO: because of HTML content, string won't do. replace <code class="inline-code"> with <Code>
		html: 'Example 2 featuring <code class="inline-code">max-width</code> media query',
	},
	h3_3: {
		id: 'example-3',
		element: 'h3',
		html: 'Example 3 featuring <code class="inline-code">max-height</code>',
	},
	h3_4: {
		id: 'example-4',
		element: 'h3',
		html: 'Example 4 featuring <code class="inline-code">ch</code> and <code class="inline-code">min()</code>',
	},
	h3_5: {
		id: 'example-5',
		element: 'h3',
		html: 'Example 5 featuring <code class="inline-code">clamp()</code>',
	},
	h2_4: {
		id: 'form-title',
		element: 'h2',
		html: '<b>Responsify form</b>',
	},
	h2_5: {
		id: 'sass-function',
		element: 'h2',
		html: 'Sass <code class="inline-code">@function</code>',
	},
	h2_6: {
		id: 'browser-support',
		element: 'h2',
		html: 'Browser support',
	},
	h2_7: {
		id: 'comparison',
		element: 'h2',
		html: 'Comparison with CSS locks',
	},
	h2_8: {
		id: 'resources',
		element: 'h2',
		html: 'Related resources',
	},
	h2_9: {
		id: 'privacy',
		element: 'h2',
		html: 'Privacy policy',
	},
	h2_10: {
		id: 'accessibility',
		element: 'h2',
		html: 'Accessibility statement',
	},
}
---

<ol class={classes.ol}>
	<li class={classes.li}>
		<Link href={`#${headings.h1.id}`} set:html={headings.h1.html} />
		<ol class={classes.ol}>
			<li class={classes.li}>
				<Link href={`#${headings.h2_1.id}`} set:html={headings.h2_1.html} />
			</li>
			<li class={classes.li}>
				<Link href={`#${headings.h2_2.id}`} set:html={headings.h2_2.html} />
			</li>
			<li class={classes.li}>
				<Link href={`#${headings.h2_3.id}`} set:html={headings.h2_3.html} />
				<ol class={classes.ol}>
					<li class={classes.li}>
						<Link href={`#${headings.h3_1.id}`} set:html={headings.h3_1.html} />
					</li>
					<li class={classes.li}>
						<Link href={`#${headings.h3_2.id}`} set:html={headings.h3_2.html} />
					</li>
					<li class={classes.li}>
						<Link href={`#${headings.h3_3.id}`} set:html={headings.h3_3.html} />
					</li>
					<li class={classes.li}>
						<Link href={`#${headings.h3_4.id}`} set:html={headings.h3_4.html} />
					</li>
					<li class={classes.li}>
						<Link href={`#${headings.h3_5.id}`} set:html={headings.h3_5.html} />
					</li>
				</ol>
			</li>
			<li class={classes.li}>
				<Link href={`#${headings.h2_4.id}`} set:html={headings.h2_4.html} />
			</li>
			<li class={classes.li}>
				<Link href={`#${headings.h2_5.id}`} set:html={headings.h2_5.html} />
			</li>
			<li class={classes.li}>
				<Link href={`#${headings.h2_6.id}`} set:html={headings.h2_6.html} />
			</li>
			<li class={classes.li}>
				<Link href={`#${headings.h2_7.id}`} set:html={headings.h2_7.html} />
			</li>
			<li class={classes.li}>
				<Link href={`#${headings.h2_8.id}`} set:html={headings.h2_8.html} />
			</li>
		</ol>
	</li>
	<li class={classes.li}>
		<Link href={`#${headings.h2_9.id}`} set:html={headings.h2_9.html} />
	</li>
	<li class={classes.li}>
		<Link href={`#${headings.h2_10.id}`} set:html={headings.h2_10.html} />
	</li>
</ol>
