---
import cheerio from 'cheerio'
import HeadingLink from './HeadingLink.astro'

import type { HTMLAttributes } from 'astro/types'

import classes from './Heading.module.css'

export type HeadingElement = 'h1' | 'h2' | 'h3'

export type Props = HTMLAttributes<HeadingElement> & {
	element: HeadingElement
}

const { element: HeadingElement, id } = Astro.props

const content = (await Astro.slots.render('default')).trim()
const plaintext = cheerio.load(content).text().trim()

const isPlaintext = content === plaintext
---

{
	isPlaintext ? (
		<>
			<HeadingElement id={id}>
				<slot />
			</HeadingElement>
			<HeadingLink id={id} />
		</>
	) : (
		<div class={classes.headingContainer}>
			<HeadingElement class={classes.screenReaderHeading}>{plaintext}</HeadingElement>
			<HeadingElement id={id} aria-hidden="true">
				<slot />
			</HeadingElement>
			<HeadingLink id={id} />
		</div>
	)
}
