---
import { Heading } from '../components/Heading/Heading'
import { TableOfContents, headings } from '../components/TableOfContents/TableOfContents'
import { Form } from '../components/Form/Form'
import { BrowserSupport } from '../components/BrowserSupport'
import { Comparison } from '../components/Comparison/Comparison'
import { Dateline } from '../components/Dateline'
import { Examples } from '../components/Examples/Examples'
import { Footer } from '../components/Footer/Footer'
import { Intro } from '../components/Intro/Intro'
import { Related } from '../components/Related'
import { SassFunction } from '../components/SassFunction'
import { Unorphan } from '../components/Unorphan/Unorphan'

import '../styles/variables.css'
import '../styles/reset.css'
import './Index.css'
import '../styles/overrides.css'

// TODO: inject this into package.json and manifest as well
const responsifyOneLiner = 'Responsify: Smooth out layout jumps at breakpoints'
---

<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{responsifyOneLiner}</title>
		<!-- TODO: use something else for description, then use that same thing in package.json -->
		<meta name="description" content={responsifyOneLiner} />
	</head>
	<body>
		<main aria-labelledby={headings.h1.id}>
			<article aria-labelledby={headings.h1.id}>
				<Heading element={headings.h1.element} id={headings.h1.id} renderContent={headings.h1.renderContent} />
				<p
					style="font-size: var(--font-size-h2); letter-spacing: -.01em; line-height: 1; word-spacing: .01em; margin-block-start: 1rem;"
				>
					Smooth out layout jumps at breakpoints
				</p>

				<Dateline />

				<Intro />

				<TableOfContents />

				<Examples />

				<Form client:idle />

				<SassFunction />

				<BrowserSupport />

				<Comparison />

				<Related />
			</article>
		</main>

		<Footer client:idle />

		<Unorphan client:only="preact" />
	</body>
</html>
